# PostgreSQL (для образа db в Docker и для Django)
POSTGRES_DB=coursework_web_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

DB_NAME=coursework_web_app
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=db
DB_PORT=5432

DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,web

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

SECRET_KEY=your_secret_key
TIME_ZONE=Europe/Moscow

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:3000,http://127.0.0.1:3000
